---
import Header from "../components/header/Header.astro"
import Hero from "../components/hero/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Portfolio">
	<Header />
	<main>
		<Hero />
	</main>
</Layout>