---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div class="flex justify-center items-center px-3 py-1 text-sm lg:text-xs text-body bg-gray-50/10 font-medium rounded-full border border-gray-600">
    {text}
</div>