---
interface Props {
    content?: string;
    href: string;
    active?: boolean;
}

const { content, href, active = false } = Astro.props;
---

<li class:list={['font-semibold', 'item-navbar', {'active': active}]}>
    <a href={href} class="py-2 block text-sm px-3.5" title={content}>
        {content}
        <slot />
    </a>
</li>