@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary-green: hsl(150, 68%, 53%);
}

::-webkit-scrollbar {
    width: 8px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #2f342e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f;
}

html {
    scroll-behavior: smooth;
    @apply text-xs lg:text-base;
}

body {
    @apply font-sans bg-primary-dark;
}

p, h1, h2, h3, h4, h5, h6 {
    @apply tracking-normal;
}


.item-navbar.active {
    @apply text-primary-green bg-primary-green/15 font-bold transition-colors duration-200;
}

.content-experience:hover {
    box-shadow: 0px 0px 0px 1px var(--text-primary-green);
    background: hsla(110, 6%, 19%, 0.469);
    transition: box-shadow .25s;
}

.content-experience > a {
    display: none;
}

.content-experience:hover > a {
    display: block;
}

.content-experience:hover + .container-dashed-line-experience > .dashed-line-experience {
    border-color: var(--text-primary-green);
    transition: box-shadow .25s;

}

.content-experience:hover + .container-dashed-line-experience > .circle-experience {
    background: var(--text-primary-green);
    transition: box-shadow .25s;

}