@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary-green: hsl(150, 68%, 53%);
}

::-webkit-scrollbar {
    width: 8px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #2f342e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f;
}

html {
    scroll-behavior: smooth;
    @apply text-xs lg:text-base;
}

body {
    @apply font-sans bg-primary-dark;
}

p, h1, h2, h3, h4, h5, h6 {
    @apply tracking-normal;
}


.item-navbar.active {
    @apply text-primary-green bg-primary-green/15 font-bold transition-colors duration-200;
}

.shadow-blur {
    @apply rounded-full -z-10 absolute;
}

.shadow-blur-animate-3s {
    animation: shadow-blur-bounce 3s infinite;
}

.shadow-blur-animate-6s {
    animation: shadow-blur-bounce 6s infinite;
}

@keyframes shadow-blur-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    animation: modal-animation 0.2s ease-out;
}

@keyframes modal-animation {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}